<div class="wrapper">
  <div class="header">WITAMY W SERWISIE FISHKA</div>
  <div class="body">
    <div class="upper">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
      suscipit cum dolore officia consectetur, quaerat ducimus quam est laborum
      neque cumque optio minus similique et id quidem eaque debitis modi? Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Veniam, eveniet a. Ad
      itaque explicabo nihil porro odio aperiam quidem similique, dolorem
      obcaecati quis non fugiat placeat doloribus accusamus ut laboriosam. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Facere nam facilis hic
      obcaecati quidem quasi assumenda ab necessitatibus excepturi corrupti
      corporis doloribus, sapiente dolorum velit modi, fuga, culpa aspernatur
      eos?
    </div>
    <div class="lower">LOREM LOREM LOREM LOREM LOREM</div>
  </div>
</div>
